:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 1.2em; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #535bf2;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto",
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* 
::-webkit-scrollbar {
  width: 10px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}


::-webkit-scrollbar-track {
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} */

::-webkit-scroll-bar {
  width: 2px,
}

::-webkit-scroll-track {
  background-color: #f1f1f1,
}

::-webkit-scroll-thumb {
  background-color: rgb(184, 182, 182),
}